body {
  background-image: url("paper-texture-with-pattern_107441-37.jpg");
  text-align: left;
}

#content {
  display: grid;
  grid-template-columns: 55% 45%;
  max-width: 900px;
  margin: 0 auto;
}



p {
  color: #000000;
}
