

#content {
  display: grid;
  grid-template-columns: 55% 45%;
  max-width: 900px;
  margin: 0 auto;
}

#content div{
 background: #3bbced;
 padding: 30px
}

#content div:nth-child (even){
 background: #777; 
}

p {
  color: #000000;
}
